.container {
  padding: 1rem;
  width: fit-content;
  border: 1.5px solid black;
  border-radius: 3%;
}

.form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 0.7rem;
}

button {
  width: 60%;
  align-self: center;
}
