<div class="home-container">
  <div></div>
  <div class="card-grid">
    <div class="card-container">
      <nz-card nzHoverable class="card-width">
        <div class="card-content-container">
          <div>
            <img
              alt="workout"
              style="width: 100%"
              src="../../../assets/images/workout.jfif"
            />
          </div>
          <div class="text-container">
            <div>
              <h2>Create your own workouts!</h2>
              <span
                >Manage your time easily with the calendar function, and plan
                ahead, so you can have a very pleasant workout!</span
              >
            </div>
            <button nz-button nzType="primary">
              Go to workout
              <span nz-icon nzType="right"></span>
            </button>
          </div>
        </div>
      </nz-card>
    </div>
    <div class="card-container">
      <nz-card nzHoverable class="card-width">
        <div class="card-content-container">
          <div>
            <img
              alt="workout"
              style="width: 100%"
              src="../../../assets/images/progress.jfif"
            />
          </div>
          <div class="text-container">
            <div>
              <h2>Track your progress!</h2>
              <span
                >Manage your time easily with the calendar function, and plan
                ahead, so you can have a very pleasant workout!</span
              >
            </div>

            <button nz-button nzType="primary">
              Go to progress
              <span nz-icon nzType="right"></span>
            </button>
          </div>
        </div>
      </nz-card>
    </div>
    <div class="card-container">
      <nz-card nzHoverable class="card-width">
        <div class="card-content-container">
          <div>
            <img
              alt="workout"
              style="width: 100%"
              src="../../../assets/images/barbell.jfif"
            />
          </div>
          <div class="text-container">
            <div>
              <h2>Create your own workouts!</h2>
              <span
                >Manage your time easily with the calendar function, and plan
                ahead, so you can have a very pleasant workout!</span
              >
            </div>
            <button nz-button nzType="primary">
              Go to exercises
              <span nz-icon nzType="right"></span>
            </button>
          </div>
        </div>
      </nz-card>
    </div>
    <div class="card-container">
      <nz-card nzHoverable class="card-width">
        <div class="card-content-container">
          <div>
            <img
              alt="workout"
              style="width: 100%"
              src="../../../assets/images/coaches.jfif"
            />
          </div>
          <div class="text-container">
            <div>
              <h2>Create your own workouts!</h2>
              <span
                >Manage your time easily with the calendar function, and plan
                ahead, so you can have a very pleasant workout!</span
              >
            </div>
            <button nz-button nzType="primary">
              Go to coaches
              <span nz-icon nzType="right"></span>
            </button>
          </div>
        </div>
      </nz-card>
    </div>
  </div>
</div>
