.exercise-container {
  padding: var(--default-container-padding);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 6fr;
  height: 91.5vh;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
