<div class="workout-container">
  <div class="button-container">
    <div>
      <button
        (click)="tableView = true"
        nz-button
        [nzType]="tableView ? 'primary' : 'default'"
      >
        Table View
      </button>
      <button
        (click)="tableView = false"
        nz-button
        [nzType]="tableView ? 'default' : 'primary'"
      >
        Calendar View
      </button>
    </div>

    <button (click)="showWorkoutEdit()" nz-button nzType="primary">
      Add new workout
    </button>
  </div>

  <app-workout-edit
    [isVisible]="createNewWorkoutVisible"
    [title]="selectedWorkout ? 'Edit workout' : 'Create new workout'"
    [workout]="selectedWorkout"
    (dataChanged)="dataChanged($event)"
    (closeModal)="closeWorkoutEdit()"
  ></app-workout-edit>
  @if (tableView) {
  <div class="table-view">
    <h2>My own workouts</h2>
    <nz-table #ownWorkoutsTable [nzData]="workoutsData">
      <thead>
        <tr>
          <th>Finished</th>
          <th>Name</th>
          <th>Comment</th>
          <th>Number of exercises</th>
          <th>Scheduled</th>
          <th>Coach</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of ownWorkoutsTable.data">
          <td (click)="setFinished(data)">
            <nz-checkbox-wrapper
              style="width: 100%"
              (nzOnChange)="setFinished(data)"
            >
              <label nz-checkbox [nzChecked]="data.finished"></label>
            </nz-checkbox-wrapper>
          </td>
          <td>{{ data.name }}</td>
          <td>{{ data.comment }}</td>
          <td>{{ data.sets.length }}</td>
          <td>{{ data.scheduled }}</td>
          <td>
            {{
              data.coach ? data.coach.firstName + " " + data.coach.lastName : ""
            }}
          </td>
          <td>
            <div class="action-column">
              <button
                nz-button
                nzType="primary"
                nzShape="circle"
                (click)="deleteWorkout(data.id)"
              >
                <span nz-icon nzType="delete" nzTheme="outline"></span>
              </button>
              <button
                nz-button
                nzType="primary"
                nzShape="circle"
                (click)="editWorkout(data)"
              >
                <span nz-icon nzType="edit" nzTheme="outline"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  }@else{
  <div class="calendar-view">
    <div class="calendar-header">
      <div class="calendar-button-group">
        <button
          mwlCalendarPreviousView
          nz-button
          nzType="default"
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Previous
        </button>
        <button
          nz-button
          nzType="default"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
          Today
        </button>
        <button
          nz-button
          nzType="default"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Next
        </button>
      </div>

      <div>
        <h3>{{ viewDate | calendarDate : view + "ViewTitle" : "en" }}</h3>
      </div>
      <div class="calendar-button-group">
        <button
          class="btn btn-primary"
          nz-button
          [nzType]="view === CalendarView.Month ? 'primary' : 'default'"
          (click)="setView(CalendarView.Month)"
          [class.active]="view === CalendarView.Month"
        >
          Month
        </button>
        <button
          class="btn btn-primary"
          nz-button
          [nzType]="view === CalendarView.Week ? 'primary' : 'default'"
          (click)="setView(CalendarView.Week)"
          [class.active]="view === CalendarView.Week"
        >
          Week
        </button>
        <button
          class="btn btn-primary"
          nz-button
          [nzType]="view === CalendarView.Day ? 'primary' : 'default'"
          (click)="setView(CalendarView.Day)"
          [class.active]="view === CalendarView.Day"
        >
          Day
        </button>
      </div>
    </div>

    <div [ngSwitch]="view">
      <mwl-calendar-month-view
        *ngSwitchCase="CalendarView.Month"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
      >
      </mwl-calendar-month-view>
      <mwl-calendar-week-view
        *ngSwitchCase="CalendarView.Week"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
      >
      </mwl-calendar-week-view>
      <mwl-calendar-day-view
        *ngSwitchCase="CalendarView.Day"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
      >
      </mwl-calendar-day-view>
    </div>
  </div>
  }
</div>
