.workout-container {
  padding: var(--default-container-padding);
}

.action-column {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-container > div {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
}
