<ul nz-menu style="height: 8.5vh" nzMode="horizontal">
  <li
    (click)="navigateTo('/home')"
    [nzSelected]="urlSegments[0] === 'home'"
    nz-menu-item
  >
    Home
  </li>
  @if (isClient) {
  <li
    (click)="navigateTo('/workout')"
    [nzSelected]="urlSegments[0] === 'workout'"
    nz-menu-item
  >
    Workout
  </li>
  <li
    (click)="navigateTo('/progress')"
    [nzSelected]="urlSegments[0] === 'progress'"
    nz-menu-item
  >
    Progress
  </li>
  }@else{
  <li
    (click)="navigateTo('/assign-workout')"
    [nzSelected]="urlSegments[0] === 'assign-workout'"
    nz-menu-item
  >
    Assign workout
  </li>
  }

  <li
    (click)="navigateTo('/exercises')"
    [nzSelected]="urlSegments[0] === 'exercises'"
    nz-menu-item
  >
    Exercises
  </li>
  @if (isClient) {
  <li
    (click)="navigateTo('/coaches')"
    [nzSelected]="urlSegments[0] === 'Coaches'"
    nz-menu-item
  >
    Coaches
  </li>
  }@else{
  <li
    (click)="navigateTo('/clients')"
    [nzSelected]="urlSegments[0] === 'clients'"
    nz-menu-item
  >
    Clients and requests
  </li>
  }
  <li style="float: right" (click)="logout()" nz-menu-item>Logout</li>
</ul>
