<ul nz-menu style="height: 8.5vh" nzMode="horizontal">
  <li
    (click)="navigateTo('/home')"
    [nzSelected]="urlSegments[0] === 'home'"
    nz-menu-item
  >
    Home
  </li>
  <li
    (click)="navigateTo('/workout')"
    [nzSelected]="urlSegments[0] === 'workout'"
    nz-menu-item
  >
    Workout
  </li>
  <li
    (click)="navigateTo('/progress')"
    [nzSelected]="urlSegments[0] === 'progress'"
    nz-menu-item
  >
    Progress
  </li>

  <li
    (click)="navigateTo('/exercises')"
    [nzSelected]="urlSegments[0] === 'exercises'"
    nz-menu-item
  >
    Exercises
  </li>
  <li
    (click)="navigateTo('/coaches')"
    [nzSelected]="urlSegments[0] === 'Coaches'"
    nz-menu-item
  >
    Coaches
  </li>
  <li style="float: right" (click)="logout()" nz-menu-item>Logout</li>
</ul>
