<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
>
  <ng-template #modalTitle>{{ title }}</ng-template>
  <ng-template #modalContent>
    <form [formGroup]="isCoach ? coachWorkoutFormGroup : workoutFormGroup">
      <div class="basic-form-inputs">
        <input nz-input placeholder="Name" type="text" formControlName="name" />
        <app-input-error
          [showError]="
            isCoach
              ? !coachWorkoutFormGroup.get('name')?.valid &&
                (coachWorkoutFormGroup.get('name')?.touched ?? false)
              : !workoutFormGroup.get('name')?.valid &&
                (workoutFormGroup.get('name')?.touched ?? false)
          "
          [errorMessage]="'Name is required!'"
        ></app-input-error>
        <textarea
          class="input-margin"
          placeholder="Comment"
          rows="4"
          nz-input
          formControlName="comment"
        ></textarea>
        <div style="display: flex; flex-direction: column">
          <nz-date-picker
            nzShowTime
            [nzDisabledDate]="disabledDate"
            nzFormat="yyyy-MM-dd HH:mm"
            formControlName="scheduled"
            nzPlaceHolder="Select date and time"
          ></nz-date-picker>
          <app-input-error
            [showError]="
              isCoach
                ? !coachWorkoutFormGroup.get('scheduled')?.valid &&
                  (coachWorkoutFormGroup.get('scheduled')?.touched ?? false)
                : !workoutFormGroup.get('scheduled')?.valid &&
                  (workoutFormGroup.get('scheduled')?.touched ?? false)
            "
            [errorMessage]="'Scheduled is required!'"
          ></app-input-error>
        </div>
      </div>
      @if (isCoach) {
      <nz-form-control>
        <nz-select formControlName="clientId" [nzSize]="size" nzShowSearch>
          <nz-option
            *ngFor="let option of clientsOfCoach"
            [nzLabel]="option.firstName + ' ' + option.lastName"
            [nzValue]="option.id"
          ></nz-option>
        </nz-select>
      </nz-form-control>
      <app-input-error
        [showError]="
          !coachWorkoutFormGroup.get('clientId')?.valid &&
          (coachWorkoutFormGroup.get('clientId')?.touched ?? false)
        "
        [errorMessage]="'You must choose a client!'"
      ></app-input-error>
      }
      <div formArrayName="exerciseSet">
        <h2>Exercises</h2>
        <div
          *ngFor="let workoutSet of exerciseSets.controls; let i = index"
          [formGroupName]="i"
          class="workout-set-container"
        >
          <div
            style="display: flex; align-items: center; justify-content: center"
          >
            {{ i + 1 }}.
          </div>
          <input
            nz-input
            placeholder="Reps"
            type="number"
            formControlName="numberOfReps"
          />
          <input
            nz-input
            placeholder="Sets"
            type="number"
            formControlName="numberOfSets"
          />
          <div style="display: flex; flex-direction: row">
            <nz-form-control nzErrorTip="You must choose an exercise!">
              <nz-select
                formControlName="exerciseId"
                [nzSize]="size"
                style="width: 100%"
                nzShowSearch
              >
                <nz-option
                  *ngFor="let option of exercises"
                  [nzLabel]="option.name"
                  [nzValue]="option.id"
                ></nz-option>
              </nz-select>
            </nz-form-control>
            <button
              style="margin-left: 0.6rem"
              nz-button
              nzType="primary"
              nzShape="circle"
              (click)="deleteExerciseSet(i)"
            >
              <span nz-icon nzType="delete" nzTheme="outline"></span>
            </button>
          </div>
          <app-input-error
            class="full-grid"
            [showError]="!isExerciseSetValid(i)"
            [errorMessage]="'You must fill out all of the fields!'"
          ></app-input-error>
        </div>
        <div class="add-button-container">
          <button
            nz-button
            nzType="primary"
            nzShape="circle"
            (click)="addExerciseSet()"
          >
            <span nz-icon nzType="plus-circle" nzTheme="twotone"></span>
          </button>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #modalFooter>
    <button
      nz-button
      nzType="primary"
      [disabled]="
        (isCoach ? !coachWorkoutFormGroup.valid : !workoutFormGroup.valid) ||
        !exerciseSets.valid
      "
      (click)="handleSave()"
    >
      Save
    </button>
    <button (click)="handleCancel()" nz-button>Cancel</button>
  </ng-template>
</nz-modal>
