.workout-set-container {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 7fr;
  column-gap: 1rem;
}

.add-button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.basic-form-inputs {
  display: flex;
  flex-direction: column;
}

.input-margin {
  margin-bottom: 1rem;
}

.full-grid {
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: center;
}
