<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
>
  <ng-template #modalTitle>{{ title }}</ng-template>
  <ng-template #modalContent>
    <form [formGroup]="isCoach ? coachWorkoutFormGroup : workoutFormGroup">
      <div class="basic-form-inputs">
        <nz-form-control nzErrorTip="Name cannot be empty!">
          <input nz-input placeholder="Name" type="text" formControlName="name"
        /></nz-form-control>
        <textarea
          placeholder="Comment"
          rows="4"
          nz-input
          formControlName="comment"
        ></textarea>
        <div>
          <nz-date-picker
            nzShowTime
            nzFormat="yyyy-MM-dd HH:mm"
            formControlName="scheduled"
            nzPlaceHolder="Select date and time"
          ></nz-date-picker>
        </div>
      </div>
      @if (isCoach) {
      <nz-form-control nzErrorTip="You select a client!">
        <nz-select formControlName="clientId" [nzSize]="size" nzShowSearch>
          <nz-option
            *ngFor="let option of clientsOfCoach"
            [nzLabel]="option.lastName + ' ' + option.firstName"
            [nzValue]="option.id"
          ></nz-option>
        </nz-select>
      </nz-form-control>
      }
      <div formArrayName="exerciseSet">
        <h2>Exercises</h2>
        <div
          *ngFor="let workoutSet of exerciseSets.controls; let i = index"
          [formGroupName]="i"
          class="workout-set-container"
        >
          <div
            style="display: flex; align-items: center; justify-content: center"
          >
            {{ i + 1 }}.
          </div>
          <input
            nz-input
            placeholder="Reps"
            type="number"
            formControlName="numberOfReps"
          />
          <nz-form-control nzErrorTip="Must be grater than 0!">
            <input
              nz-input
              placeholder="Sets"
              type="number"
              formControlName="numberOfSets"
            />
          </nz-form-control>
          <div style="display: flex; flex-direction: row">
            <nz-form-control nzErrorTip="You must choose an exercise!">
              <nz-select
                formControlName="exerciseId"
                [nzSize]="size"
                style="width: 100%"
                nzShowSearch
              >
                <nz-option
                  *ngFor="let option of exercises"
                  [nzLabel]="option.name"
                  [nzValue]="option.id"
                ></nz-option>
              </nz-select>
            </nz-form-control>
            <button
              style="margin-left: 0.6rem"
              nz-button
              nzType="primary"
              nzShape="circle"
              (click)="deleteExerciseSet(i)"
            >
              <span nz-icon nzType="delete" nzTheme="outline"></span>
            </button>
          </div>
        </div>
        <div class="add-button-container">
          <button
            nz-button
            nzType="primary"
            nzShape="circle"
            (click)="addExerciseSet()"
          >
            <span nz-icon nzType="plus-circle" nzTheme="twotone"></span>
          </button>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #modalFooter>
    <button
      nz-button
      nzType="primary"
      [disabled]="
        (isCoach ? !coachWorkoutFormGroup.valid : !workoutFormGroup.valid) ||
        !exerciseSets.valid
      "
      (click)="handleSave()"
    >
      Save
    </button>
    <button (click)="handleCancel()" nz-button>Cancel</button>
  </ng-template>
</nz-modal>
