<div class="progress-container">
  <div class="chart-container">
    <nz-modal
      [(nzVisible)]="addWeightVisible"
      (nzOnCancel)="addWeightVisible = false"
      nzTitle="Add weight(kg)"
      [nzStyle]="{ width: '15vw' }"
      [nzFooter]="modalFooter"
      [nzContent]="modalContent"
    >
      <ng-template #modalContent>
        <div
          style="display: flex; align-items: center; justify-content: center"
        >
          <input
            type="number"
            style="width: 50%"
            nz-input
            min="0"
            max="635"
            [formControl]="addWeightFormControl"
          />
        </div>
      </ng-template>
      <ng-template #modalFooter>
        <button
          nz-button
          nzType="primary"
          (click)="handleNewWeight()"
          [nzLoading]="isLoading"
          [disabled]="addWeightFormControl.invalid"
        >
          Add
        </button>
        <button (click)="addWeightVisible = false" nz-button>Cancel</button>
      </ng-template>
    </nz-modal>
    <apx-chart
      #chartObj
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [title]="chartOptions.title"
      [xaxis]="chartOptions.xaxis"
    ></apx-chart>
  </div>
  <div class="weight-data-container">
    <div class="weight-button-container">
      <button nz-button nzType="primary" (click)="addWeightVisible = true">
        Add weight
      </button>
    </div>
    <div class="block">
      <h3>Target weight</h3>
      <div class="goal-div">
        @if(!editWeightGoal){ @if (clientGoal?.targetWeight) {
        {{ clientGoal?.targetWeight }}
        <button
          nz-button
          nzType="default"
          nzShape="circle"
          (click)="editWeightGoal = true"
        >
          <span nz-icon nzType="edit"></span>
        </button>
        }@else {
        <button nz-button nzType="default" (click)="editWeightGoal = true">
          Set goal
        </button>
        } }@else{
        <input nz-input type="number" [formControl]="weightGoalFormControl" />
        <button
          nz-button
          nzType="primary"
          nzShape="circle"
          [disabled]="!weightGoalFormControl.valid"
          (click)="saveGoalWeight()"
        >
          <span nz-icon nzType="check" nzTheme="outline"></span>
        </button>
        <button
          nz-button
          nzType="primary"
          nzShape="circle"
          (click)="editWeightGoal = false"
        >
          <span nz-icon nzType="close" nzTheme="outline"></span>
        </button>
        }
      </div>
      <h3>Current weight</h3>
      <div>{{ currentWeight?.weight }}</div>
      <h3>Smallest weight</h3>
      <div>{{ smallestWeight }}</div>
      <h3>Biggest weight</h3>
      <div>{{ biggestWeight }}</div>
      <h3>Start weight</h3>
      <div>{{ startWeigth }}</div>
    </div>
  </div>
  <div class="calendar-container">
    <nz-calendar
      [nzFullscreen]="false"
      [nzCustomHeader]="customHeader"
      [nzDateCell]="dateCellTpl"
    >
      <!-- <div *nzDateCell>
        <span
          nz-icon
          [nzType]="'check-circle'"
          [nzTheme]="'twotone'"
          [nzTwotoneColor]="'#52c41a'"
        ></span>
      </div> -->
    </nz-calendar>
    <ng-template #dateCellTpl let-date>
      @switch (areAllWorkoutFinishedInADay(date)) { @case ('finished'){
      <span
        nz-icon
        nzType="check-circle"
        nzTheme="twotone"
        nzTwotoneColor="#52c41a"
      ></span>
      } @case ('unfinished') {
      <span
        nz-icon
        nzType="close-circle"
        nzTheme="twotone"
        nzTwotoneColor="#bd6262"
      ></span>
      } @case('planned'){
      <span
        nz-icon
        nzType="question-circle"
        nzTheme="outline"
        nzTheme="twotone"
        nzTwotoneColor="#bdbdbd"
      ></span>
      }@case ('none') {
      <span>&nbsp;</span>
      } }
    </ng-template>
    <ng-template #customHeader>
      <div style="padding: 8px">
        <h2>Workout history</h2>
      </div>
    </ng-template>
  </div>
  <div class="workout-statistics-container">
    <div class="block">
      <h2>This month</h2>
      <h3>Target exercise count</h3>
      <div class="goal-div">
        @if(!editWorkoutGoal){ @if (clientGoal?.targetWorkoutCount) {
        {{ clientGoal?.targetWorkoutCount }}
        <button
          nz-button
          nzType="default"
          nzShape="circle"
          (click)="editWorkoutGoal = true"
        >
          <span nz-icon nzType="edit"></span>
        </button>
        }@else {
        <button nz-button nzType="default" (click)="editWorkoutGoal = true">
          Set goal
        </button>
        } }@else{
        <input nz-input type="number" [formControl]="workoutGoalFormControl" />
        <button
          nz-button
          nzType="primary"
          nzShape="circle"
          [disabled]="!weightGoalFormControl.valid"
          (click)="saveWorkoutGoal()"
        >
          <span nz-icon nzType="check" nzTheme="outline"></span>
        </button>
        <button
          nz-button
          nzType="primary"
          nzShape="circle"
          (click)="editWorkoutGoal = false"
        >
          <span nz-icon nzType="close" nzTheme="outline"></span>
        </button>
        }
      </div>
      <h3>Planned workouts</h3>
      <div>{{ currentMonthWorkouts.length }}</div>

      <h3>Finished workouts</h3>
      <div>{{ currentMonthFinishedWorkouts }}</div>

      <div class="progress-chart" style="justify-self: center">
        <nz-progress
          nzType="dashboard"
          [nzPercent]="monthPercentage"
          [nzStrokeColor]="{ '0%': '#108ee9', '100%': '#87d068' }"
        ></nz-progress>
      </div>
    </div>

    <div class="block">
      <h2>All time</h2>
      <h3>Planned workouts</h3>
      <div>{{ allWorkouts.length }}</div>
      <h3>Finished workouts</h3>
      <div>{{ finishedWorkouts }}</div>
      <div class="progress-chart">
        <nz-progress
          nzStrokeLinecap="round"
          [nzPercent]="allPercentage"
        ></nz-progress>
      </div>
    </div>
  </div>
</div>
