<nz-card style="width: 300px" nzTitle="Client login">
  <form
    nz-form
    [nzLayout]="'inline'"
    [formGroup]="clientLoginFormGroup"
    (ngSubmit)="loginClient()"
  >
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Email!">
        <nz-input-group nzPrefixIcon="mail">
          <input formControlName="email" nz-input placeholder="Email" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input
            formControlName="password"
            nz-input
            type="password"
            placeholder="Password"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button
          nz-button
          nzType="primary"
          [disabled]="!clientLoginFormGroup.valid"
        >
          Log in
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>

<nz-card style="width: 300px" nzTitle="Client register">
  <form
    nz-form
    [nzLayout]="'inline'"
    [formGroup]="clientRegisterFormGroup"
    (ngSubmit)="registerClient()"
  >
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your first name!">
        <nz-input-group nzPrefixIcon="user">
          <input
            formControlName="firstName"
            nz-input
            placeholder="First name"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your last name!">
        <nz-input-group nzPrefixIcon="user">
          <input formControlName="lastName" nz-input placeholder="Last name" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Email!">
        <nz-input-group nzPrefixIcon="mail">
          <input formControlName="email" nz-input placeholder="Email" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input
            formControlName="password"
            nz-input
            type="password"
            placeholder="Password"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button
          nz-button
          nzType="primary"
          [disabled]="!clientRegisterFormGroup.valid"
        >
          Register
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>

<nz-card style="width: 300px" nzTitle="Coach login">
  <form
    nz-form
    [nzLayout]="'inline'"
    [formGroup]="coachLoginFormGroup"
    (ngSubmit)="loginCoach()"
  >
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Email!">
        <nz-input-group nzPrefixIcon="mail">
          <input formControlName="email" nz-input placeholder="Email" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input
            formControlName="password"
            nz-input
            type="password"
            placeholder="Password"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button
          nz-button
          nzType="primary"
          [disabled]="!coachLoginFormGroup.valid"
        >
          Log in
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>

<nz-card style="width: 300px" nzTitle="Coach register">
  <form
    nz-form
    [nzLayout]="'inline'"
    [formGroup]="coachRegisterFormGroup"
    (ngSubmit)="registerCoach()"
  >
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your first name!">
        <nz-input-group nzPrefixIcon="user">
          <input
            formControlName="firstName"
            nz-input
            placeholder="First name"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your last name!">
        <nz-input-group nzPrefixIcon="user">
          <input formControlName="lastName" nz-input placeholder="Last name" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Email!">
        <nz-input-group nzPrefixIcon="mail">
          <input formControlName="email" nz-input placeholder="Email" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input
            formControlName="password"
            nz-input
            type="password"
            placeholder="Password"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button
          nz-button
          nzType="primary"
          [disabled]="!coachRegisterFormGroup.valid"
        >
          Register
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>
